.register-container {
  background-color: #ecf0f3;
  color: black;
  padding: 10px 20px;
  border: 1px solid #2e2e2e;
  border-radius: 5%;
  margin-top: 20px;

  h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
  }

  input {
    background-color: #ecf0f3;
    border: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    display: block;
    padding: 12px 16px 14px;
    margin: 10px auto;
    outline: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  button {
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    padding: 2px 5px;
    margin: 10px 80px;
    background-color: #ecf0f3;
    color: black;
  }

  button:hover {
    transform: scale(1.1);
  }
}
